syntax on

" -----
" Sets:
" -----

" MUST
set nowrap
set noerrorbells

" Tab and N Tab Spaces
set expandtab
set shiftwidth=4
set tabstop=4 softtabstop=4
set smartindent

" Search pattern stuff
set smartcase
set ignorecase
set incsearch
set nohlsearch

" line numbers and relative line numbers
set nu
set rnu

" an undo directory - works awesome with the undotree plugin
set undodir=~/.vim/undodir
set undofile

" additional personal preference sets, use :h <setting> to learn more about each set
set path+=**
set nobackup
set noswapfile
set noshowmode
set updatetime=500

set mouse=a
set showcmd
set cursorline
set textwidth=0
set scrolloff=10
set colorcolumn=100
set completeopt=menuone

" Plugin sets
" -----------

set sneak
set quickscope

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'dbakker/vim-paragraph-motion'
Plug 'machakann/vim-highlightedyank'

" ----------------
" Let Expressions:
" ----------------
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#ff0000'
let g:qs_secondary_color = '#ff00ff'

" ------------
" Maps/Remaps:
" ------------
" Don't use Ex mode, use Q for formatting.
map Q gq
let mapleader = " "

nnoremap <leader>pv :NERDTreeToggle<Enter> <bar> :vertical resize 25<CR>
nnoremap <leader>pf :NERDTreeFind<Enter>

nnoremap <leader>v <C-w>v<Enter>
nnoremap <leader>h <C-w>h<Enter>
nnoremap <leader>j <C-w>j<Enter>
nnoremap <leader>k <C-w>k<Enter>
nnoremap <leader>l <C-w>l<Enter>

"Vertical resize mappings:
nnoremap <leader>vr :vertical resize 30<CR>
nnoremap <silent><leader>+ :vertical resize +5<CR>
nnoremap <silent><leader>- :vertical resize -5<CR>
"delete what is marked, without saving it to paste reg, and paste whats currently saved
"to the paste register.
nnoremap <leader>cc "_cc
nnoremap <leader>dd "_dd
nnoremap <leader>ci "_ci
nnoremap <leader>di "_di
vnoremap <leader>p "_dP
vnoremap <leader>c "_c
vnoremap <leader>d "_d
" Moving lines along the file - these are so amazing! try out the visual mode
" setting! its a must i swear.
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
" Keeps the cursor centered while jumping between definitions, Ctrl+j/k keeps it
" centered when navigating up/down through the file.
nnoremap J mzJ`z
nnoremap j jzzzv
nnoremap k kzzzv
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap <C-d> <C-d>zzzv
nnoremap <C-u> <C-u>zzzv
nnoremap <C-j> jzz
nnoremap <C-k> kzz
" Code Info Remaps
nmap <C-k> <Action>(ShowHoverInfo)
nmap <C-h> <Action>(ParameterInfo)
imap <C-h> <Action>(ParameterInfo)
imap <C-k> <Action>(ShowHoverInfo)
nmap <leader>fs <Action>(GotoSymbol)

" Documentation Remaps
nmap <leader>- yypwv$r-
nmap <leader>_ <leader>-yykP
nnoremap <leader>i yyP\^ciw#<Esc>f(D
nnoremap <leader>f o\"\"\"<Enter><Esc>O<Esc>
nnoremap <leader>' ciw'<C-r>"'<Esc>
nnoremap <leader><leader>' ciW"<C-r>"'<Esc>
nnoremap <leader>" ciw"<C-r>""<Esc>
nnoremap <leader><leader>" ciW"<C-r>""<Esc>
nnoremap <leader>d' diw"_x"_xp
nnoremap <leader>d" diw"_x"_xp




"" Conversion Commands and Functions
"function! ToStr() range
"    let tmp = "" . a:firstline . "," . a:lastline . "s/\\v(\\s{2,}|, )(\\w+)/\\1'\\2'/g"
"    exe tmp
"endfunction
"
"command! ToStr      :'<,'>s/\v(\s{2,}|, )(\w+)/\1'\2'/g
"command! FromStr    :'<,'>s/\v'(\w+)'/\1/g

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
