[alias]
    # git log aliases
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset%n' --abbrev-commit --branches
    ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --numstat

    # git add aliases
    a = add
    ap = add -p

    # git branch aliases
    b = branch
    ba = branch -a
    bl = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # git checkout aliases
    co = checkout
    cob = checkout -b

    # git commit aliases
    c = commit --verbose
    m = commit --amend --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m

    # git diff aliases
    d = diff
    dw = diff --word-diff-regex=. --color-words
    ds = diff --stat
    dc = diff --cached

    # git status aliases
    s = status -s

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
