# Exclude All

*

# Allow Dirs and Sub-Dirs

!/*/
!/src/**/
!/docs/**/
!/tests/**/
!/.github/**/

# Allow Common Files and Configurations

!/.env
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml

# Allow Github Workflows

!/.github/workflows/**/*.yml

# Allow Package Sources and Stubs

!/src/main.py
#!/src/your-pkg-name/*.py
#!/src/your-pkg-name/*.py[ixcd]

# Allow Tests

!/tests/*.py

# Allow Docs

!/docs/LICENSE
