# Exclude All
*

!*/

!.gitignore
!.svls.toml
!.svlint.toml
!veridian.yaml
!veridian.yaml.template
!Makefile

!LICENSE
!README.md
!Bender.yml
!pyproject.toml
!nice.code-workspace

!ref/**/*
!sim/**/*
!src/**/*
!scripts/*

src/nice.egg-info
vendor
