syntax on

" Highlight copied text
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'dbakker/vim-paragraph-motion'
Plug 'machakann/vim-highlightedyank'

" -----
" Sets:
" -----

" MUST
set nowrap
set novirtualbell
set noerrorbells

" Tab and N Tab Spaces
set expandtab
set shiftwidth=4
set tabstop=4 softtabstop=4
set smartindent

" Search pattern stuff
set smartcase
set ignorecase
set incsearch
set nohlsearch

" line numbers and relative line numbers
set nu
set rnu

" an undo directory - works awesome with the undotree plugin
set undodir=~/.vim/undodir
set undofile

" additional personal preference sets, use :h <setting> to learn more about each set
set path+=**
set nobackup
set noswapfile
set noshowmode
set updatetime=100

set mouse=a
set showcmd
set cursorline
set selection=inclusive
set textwidth=80
set scrolloff=10
set colorcolumn=100
set completeopt=menuone

" Plugin sets
set sneak
set surround
set quickscope
set multiple_cursors


" ----------------
" Let Expressions:
" ----------------
let g:qs_highlight_on_keys  = ['f', 'F', 't', 'T']
let g:qs_primary_color      = '#ff0000'
let g:qs_secondary_color    = '#ff00ff'
let g:qs_accepted_chars     = [
    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
    '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'
]
let mapleader = " "

" ------------
" Maps/Remaps:
" ------------

" Don't use Ex mode, use Q for formatting.
map Q gq

nmap <leader>pf <Action>(ShowNavBar)
map <C-n> <Action>(SelectNextOccurrence)
map <C-p> <Action>(UnselectPreviousOccurrence)<Action>(FindPrevious)
map <C-a> <Action>(SelectAllOccurrences)
map g<C-a> <Action>($SelectAll)
map <C-x> <Action>(FindNext)
nnoremap <leader>pv :NERDTreeToggle<Enter>

nnoremap <leader>v <C-w>v<Enter>
nnoremap <leader>h <C-w>h<Enter>
nnoremap <leader>j <C-w>j<Enter>
nnoremap <leader>k <C-w>k<Enter>
nnoremap <leader>l <C-w>l<Enter>

"delete what is marked, without saving it to paste reg, and paste whats currently saved to the paste register.
nnoremap <leader>cc "_cc
nnoremap <leader>dd "_dd
nnoremap <leader>ci "_ci
nnoremap <leader>di "_di
vnoremap <leader>p "_dP
vnoremap <leader>c "_c
vnoremap <leader>d "_d

" Motion Maps
nnoremap <leader>w f_
nnoremap <leader>b F_

" Moving lines along the file - these are so amazing! try out the visual mode setting! its a must i swear.
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Keeps the cursor centered while jumping between definitions,
" Ctrl+j/k keeps it centered when navigating up/down through the file.
nnoremap J mzJ`z
nnoremap j jzzzv
nnoremap k kzzzv
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap <C-d> <C-d>zzzv
nnoremap <C-u> <C-u>zzzv

" Code Info Remaps
nmap <C-k> <Action>(ShowHoverInfo)
nmap <C-h> <Action>(ParameterInfo)
imap <C-h> <Action>(ParameterInfo)
imap <C-k> <Action>(ShowHoverInfo)
nmap <leader>fs <Action>(GotoSymbol)

" Documentation Remaps
nmap <leader>- yypwv$r-
nmap <leader>_ <leader>-yykP

nmap <leader>=i i# ------------------------------------------------------------------------------<Esc>^
nmap <leader>=I I# ------------------------------------------------------------------------------<Esc>^
nmap <leader>=a a# ------------------------------------------------------------------------------<Esc>^
nmap <leader>=A A# ------------------------------------------------------------------------------<Esc>^
nmap <leader>=k O<Esc><leader>=A
nmap <leader>=j o<Esc><leader>=A
nmap <leader>== <leader>=kj<leader>=jk
nmap <leader>i yyP\^ciw#<Esc><leader>-
nnoremap <leader>f o\"\"\"<Enter><Esc>O<Esc>




"" Conversion Commands and Functions
"function! ToStr() range
"    let tmp = "" . a:firstline . "," . a:lastline . "s/\\v(\\s{2,}|, )(\\w+)/\\1'\\2'/g"
"    exe tmp
"endfunction
"
"command! ToStr      :'<,'>s/\v(\s{2,}|, )(\w+)/\1'\2'/g
"command! FromStr    :'<,'>s/\v'(\w+)'/\1/g

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
